h1 {
  font-family: cursive;
  color: white;
  font-size:xx-large;
  text-align: center;
  margin-bottom: 7vw;
}

button {
  font-family: cursive;
  color: white;
  font-size: 1vw;
  background-image: radial-gradient(circle, #00d4ff 0%, #5c0067 100%);
  align-items: center;
  background-color: rgb(179, 179, 179);
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  cursor: nw-resize;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  text-align: center;
  touch-action: manipulation;
  width: auto;
  z-index: 0;
  flex-direction: column;
  margin-left: 38vw;
  margin-top: 3%;
}

.login {
  margin-top: 1%;
}

body {
  color: white;
  background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
  display: flow-root;
  margin: 10vw;
  margin-bottom: 10vw;
}

footer div {
  padding-top: 19vw;
  font-family: cursive;
  font-size: small;
  text-align: center;
}

img.camera {
  margin-left: 38.8vw;
  width: 3%;
}

img.camera1 {
  margin-left: 38.8vw;
  width: 3%;
}

div.username{
  margin-left: 32vw;
  font-family: cursive;

}

div.password{
  margin-top: 1%;
  margin-left: 32vw;
  font-family: cursive;
}

div.forgot{
  margin-right: 40vw;
}

div.create{
  margin-left: 32vw;
  font-family: cursive;
}
