@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

html {
  margin: 0;
  padding: 0;
  /* background-image: url(img/156\ Witch\ Dance.png); */
  background-image: url(img/063\ Soft\ Cherish.png);
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5vh;
}

.middle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12vh;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.134);
  padding: 50px;
  border-radius: none;
  width: 260px;
  line-height: 2;
}

.signup-container input {
  width: 90%;
  padding: 10px;
  border: inset 1px white;
  border-radius: none;
  font-family: inherit;
  /* color: rgb(123, 116, 166); */
  color: rgb(85 20 66);;
  font-size: large;
  
}

.signup-container button {
  margin-top: 2vh;
  width: 60%;
  padding: 10px;
  border-radius: none;
  font-family: inherit;
  font-size: 20px;
  border: none;
  color: white;
  /* background-color: rgb(155 146 205); */
  background-color: rgb(85 20 66);
  cursor: pointer;
  transition: 0.3s opacity, 0.3s transform;
}

.signup-container button:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.input-element label {
  margin-bottom: 0;
}

footer div {
  text-align: center;
  font-size: 12px;
  margin-top: 40px;
}

.camera {
  width: 100%;
  display: flex;
  justify-content: center;
}

.camera img {
  width: 40px;
  padding-top: 10%;
}

h1 {
  text-align: center;
}

label.question {
  width: 100%;
}

div.login {
  margin-bottom: 10px;
}

.input{
  font-family: inherit;
  color: rgb(155 146 205);
}